@media (max-width: 768px) {
  .head_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .navbar {
    align-items: center;
    gap: 40px;
  }

  .main_container {
    height: 60%;
    margin: 0 15px;
  }

  .head_container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-size: 20px;
  }
}
